@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root{
  --font-styled:'Fuzzy Bubbles', cursive;
}

html,
body {
  /*background: #DCFFFD;*/
  /*background: #94ECBE;*/
  /*background: #F7F9F9;*/
  /*background: #BED8D4;*/
  /*background: #CAD8DE;*/
  /*background: #9E4770;*/
  /*background: #CAD8DE;*/
  /*background: #CAD8DE;*/
  width:100vw;
  min-height: 100vh;
  overflow-x:hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  padding:50px 200px;
}
@media only screen and (max-width: 1280px){
  body{
    padding:40px 100px;
  }
}
@media only screen and (max-width: 1024px){
  body{
    padding:30px 50px;
  }
}
@media only screen and (max-width: 650px){
  body{
    padding:20px 20px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}


